{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<p class="lead mb-4">
    How Weird Is The Weather was founded in 2020 with the goal of making the weather fun and accessible.
</p>

<div class="w-100" style="background-image: url(img/weather-1.jpg); height: 300px; background-position: center;" ></div>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan, tellus a consequat cursus, orci eros eleifend elit, id molestie arcu mauris et tortor. Mauris suscipit lectus ligula, et posuere eros pharetra eget. Sed congue a turpis quis vehicula. Aenean efficitur nibh sit amet orci laoreet, eu facilisis felis cursus. Fusce suscipit, metus vitae tincidunt convallis, libero risus tempus lorem, at bibendum augue nibh in nunc. Donec laoreet tempus fringilla. Donec eget libero quam. Vestibulum auctor eleifend suscipit. Cras a magna risus. Aliquam consequat non libero a fringilla. Integer lobortis convallis tellus et dignissim. Nunc interdum, lectus nec ultrices pulvinar, lectus nunc commodo justo, in blandit dui magna in ante.
</p>
<p>
    Quisque vitae nibh eget leo cursus ornare nec in nunc. Nam fermentum tortor tortor, et tincidunt dui ultrices at. Nulla mollis suscipit lacus, sed scelerisque leo tincidunt sit amet. Nunc nec augue nec dui malesuada eleifend interdum at arcu. Aenean a mi odio. Phasellus et elementum tellus, eu convallis nisi. Suspendisse potenti. In congue mollis neque, at vehicula augue ornare ac. Sed sed interdum lectus, vitae commodo nunc. Phasellus sapien erat, dignissim et auctor et, dictum eget libero. Nam consequat magna vel accumsan pretium.
</p>
<p>
    Fusce hendrerit eleifend odio id convallis. Sed interdum a neque quis lacinia. Fusce non nunc eu tortor mollis cursus. Nullam luctus justo nulla, in pellentesque tellus vulputate nec. Vestibulum volutpat cursus nisl sed hendrerit. Nullam vitae ligula a arcu luctus viverra. Aliquam dolor sapien, volutpat a tellus et, aliquet dignissim felis. Proin consectetur lectus non turpis facilisis sagittis. Nulla quis lobortis sem. Praesent sodales, orci lobortis sollicitudin consectetur, nibh lacus laoreet tortor, ut malesuada justo massa a mi. Nulla pulvinar nunc ut ipsum lacinia, in vulputate sem vulputate. Donec sit amet vestibulum tortor, vehicula dapibus sem.
</p>
{% endblock %}