{% extends 'base.html' %}

{% block title %}{% endblock %} 

{% block content %}

         <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.0.min.js" crossorigin="anonymous"></script>
         <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.0.min.js" crossorigin="anonymous"></script>
         <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.0.min.js" crossorigin="anonymous"></script>       
         <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

	<body style="background-color:powderblue;">

	{{ bokeh_script|safe }}
	{{ bokeh_div|safe }}
 	{{ pn_embed|safe }}
 	<!-- INSERT DIVS HERE -->
 	<img src="plot0.png" id="plot_img" />
{% endblock %}
