{% extends 'base.html' %}

{% block title %}{% endblock %} 

{% block content %}

         <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.0.min.js" crossorigin="anonymous"></script>
         <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.0.min.js" crossorigin="anonymous"></script>
         <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.0.min.js" crossorigin="anonymous"></script>       
         <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<!--
	<body style="background-color: darkgray;">
	-->

	{{ bokeh_script|safe }}	
	<div class="column">
		<div class="row">
			{{ bokeh_div|safe }}
			{{ pn_embed|safe }}
		</div>
		<div class="row">
			<img src="plot0.png" id="plot_img" height="650px" />
		</div>
	</div>

{% endblock %}
