{% extends 'base.html' %}

{% block title %}Team{% endblock %}

{% block content %}
<p class="lead mb-4">
    "Everybody talks about the weather, but nobody does anything about it." -Person
</p>

<div class="w-100" style="background-image: url(img/weather-1.jpg); height: 300px; background-position: center;" ></div>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan, tellus a consequat cursus, orci eros eleifend elit, id molestie arcu mauris et tortor. Mauris suscipit lectus ligula, et posuere eros pharetra eget. Sed congue a turpis quis vehicula. Aenean efficitur nibh sit amet orci laoreet, eu facilisis felis cursus. Fusce suscipit, metus vitae tincidunt convallis, libero risus tempus lorem, at bibendum augue nibh in nunc. Donec laoreet tempus fringilla. Donec eget libero quam. Vestibulum auctor eleifend suscipit. Cras a magna risus. Aliquam consequat non libero a fringilla. Integer lobortis convallis tellus et dignissim. Nunc interdum, lectus nec ultrices pulvinar, lectus nunc commodo justo, in blandit dui magna in ante.
</p>
<div class="card" style="width: 18rem; margin: 10px;">
  <img class="card-img-top" src="img/weather-1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem; margin: 10px;">
  <img class="card-img-top" src="img/weather-1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem; margin: 10px;">
  <img class="card-img-top" src="img/weather-1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{% endblock %}