.main-container {
    display: flex; /* Uses Flexbox for layout */
    width: 100%;
    height: 100%;
}

#cesiumContainer {
    width:40%;
    height: 900px;
}

#hwitw-container {
    width:60%;
}

#hwitw {
    width: 100%;
    height: 100%;
}